<article class="container">
    <h3 class="page-header">
        <b>New Product</b>
    </h3>
    <form name="CreateForm" ng-submit="productCreate.Submit()">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label for="productNameInput">Product Name</label>
                    <input id="productNameInput" type="text" class="form-control" ng-model="productCreate.product.Name" ng-required="true"/>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productTypeInput">Product Type</label>
                    <select id="productTypeInput" class="form-control" ng-model="productCreate.product.Type" ng-required="true">
                        <option value="Static">Static</option>
                        <option value="VariableText">Variable Text</option>
                        <option value="Kit">Kit</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productDescriptionInput">Description</label>
                    <textarea id="productDescriptionInput" type="text" class="form-control" ng-model="productCreate.product.Description"></textarea>
                </fieldset>
                <fieldset class="form-group checkbox">
                    <label for="productMandatoryInput" class="control-label">
                        <input id="productMandatoryInput" type="checkbox" ng-model="productCreate.product.xp.Mandatory"/>
                        Mandatory Product
                    </label>
                </fieldset>
                <fieldset class="form-group" uib-collapse="!productCreate.product.xp.Mandatory">
                    <label for="productInstructionsInput">Placement Instructions</label>
                    <textarea id="productInstructionsInput" type="text" class="form-control" ng-model="productCreate.product.xp.PlacementInstructions" ng-required="productCreate.product.xp.Mandatory"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="productQuantityMultInput">Quantity Multiplier</label>
                    <input id="productQuantityMultInput" type="number" class="form-control" ng-model="productCreate.product.QuantityMultiplier" ng-required="true"/>
                </fieldset>
                <ordercloud-file-upload model="productCreate.product" keyname="image" label="Image" extensions="jpg, png, gif, jpeg, tiff"></ordercloud-file-upload>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Price Schedule (choose one)
                        </h3>
                    </div>
                    <div class="panel-body" ng-if="!productCreate.priceSchedules.Items.length">
                        <div class="well well-sm text-center">
                            You have no price schedules. <a href="" ng-click="productCreate.newPriceSchedule()">Create one now</a>
                        </div>
                    </div>
                    <table class="table table-hover" ng-if="productCreate.priceSchedules.Items.length">
                        <colgroup>
                            <col>
                            <col>
                            <col class="action-column"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>
                                <div>Name</div>
                            </th>
                            <th>
                                <div>Type</div>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="priceSchedule in productCreate.priceSchedules.Items track by $index" ng-click="productCreate.selectPriceSchedule(this)">
                            <td>{{priceSchedule.Name}}</td>
                            <td>{{priceSchedule.OrderType}}</td>
                            <td><i class="fa" ng-class="{'fa-check-circle text-success':priceSchedule.ID == productCreate.assignment.StandardPriceScheduleID, 'fa-circle-o text-muted':priceSchedule.ID != productCreate.assignment.StandardPriceScheduleID}"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="panel-footer text-right" ng-if="productCreate.priceSchedules.Items.length">
                        <button type="button" class="btn btn-success" ng-click="productCreate.newPriceSchedule()"><i class="fa fa-plus-circle"></i> Create New Price Schedule</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <fieldset class="form-group checkbox">
            <label for="productActiveInput" class="control-label">
                <input id="productActiveInput" type="checkbox" ng-model="productCreate.product.Active"/>
                Active
            </label>
        </fieldset>
        <fieldset class="form-group">
            <button type="button" class="btn btn-default" ui-sref="^">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="ProductCreateForm.$invalid">Save</button>
        </fieldset>
    </form>
</article>