<div class="splash-page">
	<header class="text-center">
		<h1>Marketing Dashboard Integration</h1>
		<p class="lead text-muted">Four51 can integrate to the best of the best Marketing Suites.</p>
		<small>I can add links, screenshots, or whatever's clever here.  Do we want to provide information on mailing list providers, marketing suites, and email campaigns seprately?  I've noticed a few comments sprinkled around in JIRA that give an example of each but it seems like the marketing suite would include all three if it's good enough.</small>
	</header>
</div>

