<div class="splash-page">
	<header>
		<h1  class="text-center">
			<i class="fa fa-pie-chart text-warning"></i>
			<i class="fa fa-dashboard fa-2x text-primary"></i>
			<i class="fa fa-area-chart text-danger"></i><br><br>
			Marketing Dashboard Integration</h1>
		<p class="lead text-muted text-center">Four51 can integrate to the best of the best Marketing Suites.</p>
		<p><small>OrderCloud's b2b ecommerce and order management competencies married with the rapid application development environment is intended to be an integrated component in today's API first economy.  Business marketers are already using a broad range of applications to devise marketing programs, but lack an efficient way to execute and report on them.  Four51 provides these marketers the best way to distribute their campaigns across a wide variety of user's and channels.  The OrderCloud platform allows specific campaign requirements to be derived or user selected, ultimately creating specific line items for integration once an order is placed.  The properties of the line item define the integration end points that trigger the execution of the campaign with the chosen provider.</small></p>
		<p><small>

			To provide the user that placed the order appropriate insight into the effectiveness of their campaign, Four51's approach has been to utilize business analytic tools like Klipfolio, or Keen.io to marry multiple data sources and deliver KPI's and dashboards to inform campaign owners of program outcomes.
		</small></p>
	</header>
</div>

